<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TestServerName" value="64.64.194.242"/>
    <add key="TestServerPort" value="80"/>
    <add key="TestServerUser" value="integration"/>
    <add key="TestServerPass" value="test"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
